<!doctype html>
<html>
  <head>
    <title>3DQueue</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  </head>
<body>
    <%- include ../navbar-user.ejs %>
    <%- include ../sidebar.ejs %>
  <div class="dashboard">
    <div class ="content-container">
      <h1>Manage Queue</h1>
    </div>
  </div>
</body>
</html>