<!doctype html>
<html>
  <head>
    <title>3DQueue</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  </head>
<body>
  <div class="no-scroll">
  <nav>
      <a href="/"><img id="logo" src="/images/3dqueue04.png"></a>
    <ul>
      <li><a href="/logout" class="navbar">Logout</a></li>
    </ul>
  </nav>
  <section class="sidebar">
    <ul class="sidebar-nav">
      <a href="/projects/new"><li class="sidebar-links">Create New Project</li></a>
      <a href="/admin/manage-queue"><li class="sidebar-links">Manage Queue</li></a>
      <a href="/admin/manage-projects"><li class="sidebar-links">Manage Projects</li></a>
      <a href="/admin/manage-accounts"><li class="sidebar-links">Manage Accounts</li></a>
      <a href="/admin/statistics-reporting"><li class="sidebar-links">Statistics</li></a>
    </ul>
  </section>
  <div class="new-project-dashboard">
    <div class="project-content-container">
      <div class="tab">
        <button class="tablinks active" onclick="openStatus(event, 'waiting-for-approval')">Waiting For Approval</button>
        <button class="tablinks" onclick="openStatus(event, 'approved')">Approved</button>
        <button class="tablinks" onclick="openStatus(event, 'rejected')">Rejected</button>
      </div>
      <div class="project-headers">
        <ul class="project-header-ul">
          <li class="date">Date</li>
          <li class="name">Name</li>
          <li class="email">Email</li>
          <li class="file"></li>
          <li class="color"></li>
          <li class="comments"></li>
          <li class="approval"></li>
        </ul>
      </div>

        <div id="waiting-for-approval" class="tabcontent" style="display: block;">
          <table id="projects-container">
          </table>
        </div>

        <div id="approved" class="tabcontent">
            <table id="projects-container">
            </table>
        </div>

        <div id="rejected" class="tabcontent">
          <h3>Rejected</h3>
          <p>Rejected projects go here.</p>
        </div>
      </div>
  </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascript/html.js"></script>
  <script src="/javascript/projects.js"></script>
</body>
</html>