<!doctype html>
<html>
  <head>
    <title>3DQueue</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  </head>
<body>
  <nav>
      <h1 id="logo">3DQueue</h1>
    <ul>
      <li><a href="/logout" class="navbar">Logout</a></li>
    </ul>
  </nav>
  <section class="sidebar">
    <ul class="sidebar-nav">
      <a href="/projects/new"><li class="sidebar-links">Create New Project</li></a>
      <a href="/admin/manage-queue"><li class="sidebar-links">Manage Queue</li></a>
      <a href="/admin/manage-projects"><li class="sidebar-links">Manage Projects</li></a>
      <a href="/admin/manage-accounts"><li class="sidebar-links">Manage Accounts</li></a>
      <a href="/admin/statistics-reporting"><li class="sidebar-links">Statistics</li></a>
    </ul>
  </section>
  <div class="new-project-dashboard">
    <div class="project-content-container">
      <div class="tab">
        <button class="tablinks" onclick="openStatus(event, 'waiting-for-approval')">Waiting For Approval</button>
        <button class="tablinks" onclick="openStatus(event, 'approved')">Approved</button>
        <button class="tablinks" onclick="openStatus(event, 'rejected')">Rejected</button>
      </div>
      <div class="project-headers">
        <ul class="project-header-ul">
          <li>Date</li>
          <li>Name</li>
          <li>Email</li>
          <li>Color</li>
          <li>File</li>
          <li>Comments</li>
        </ul>
      </div>
        
        <div id="waiting-for-approval" class="tabcontent">
          <h3>Waiting For Approval</h3>
          <div id="projects-container">
            </div>
        </div>
        
        <div id="approved" class="tabcontent">
          <h3>Approved</h3>
          <p>Approved Projects go here</p> 
        </div>
        
        <div id="rejected" class="tabcontent">
          <h3>Rejected</h3>
          <p>Rejected projects go here.</p>
        </div>
      </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascript/projects.js"></script>
</body>
</html>