<!doctype html>
<html>
  <head>
    <title>3DQueue</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
  </head>
<body>
    <h2>Welcome <%= user.email %>
      <h2>You are at the dropbox page!</h2>
      <p>You must authorize dropbox to continue</p>
    <p><a href="/auth/dropbox">Authorize Dropbox</a></p>
  </div>
</body>
</html>
