<!doctype html>
<html>
  <head>
    <title>3DQueue</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  </head>
<body>
  <div class ="content-container form-container">
      <h1>Dropbox</h1>
      <p class="centered">3Dqueue uses Dropbox to store project files. Please authorize your Dropbox account to continue</p>
    <p><a  class="button" href="/auth/dropbox">Authorize Dropbox</a></p>
  </div>
</body>
</html>
