<nav>
  <a href="/"><img id="logo" src="/images/3dqueue04.png"></a>
  <ul>
    <li><a href="/signup" class="navbar">Sign Up</a></li>
    <li>|</li>
    <li><a href="/login" class="navbar">Login</a></li>
  </ul>
</nav>