body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-image: url("/images/splatter.png");
  background-size:cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  font-size: 20px;
  letter-spacing: .09em;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-column-span: all; /* Chrome, Safari, Opera */
  column-span: all;
  padding-bottom: 10px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}


.content-container {
  margin-top: 100px !important;
  margin-bottom: 50px !important;
  width: 80%;
  margin: auto;
  margin-bottom: auto;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 2%;
  opacity: .94;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 40%;
}
/* **************************
         NAV BAR
***************************** */

nav {
  font-size: 18px;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  /* padding-right: 1%; */
  padding-bottom: 1%;
  background-color: #00B8EC;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul {
  width: 300px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  justify-content: space-around;

}
nav li {
  text-align: center;
  flex: 1 1 auto;
}

#logo {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  letter-spacing: .4em;
  text-align: left;
  position: absolute;
  left: 15px;
  top: -33px;
}

.button {
  background-color: #00B8EC;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

a:hover {
  color: #FFCB05;
  cursor: pointer;
}

.alert {
  background-color: magenta;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.centered {
  text-align: center;
}