
.container {
  width: 80%;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer .form-group,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer .form-group label,
.flex-outer .form-group p {
  padding: 8px;
  // font-weight: 300;
  // letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > .form-group > label,
.flex-outer .form-group p {
  flex: 1 0 120px;
  max-width: 400px;
}

.flex-outer > .form-group > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer .form-group p {
  margin: 0;
}

.flex-outer .form-group input:not([type='checkbox']),
.flex-outer .form-group textarea {
  padding: 15px;
  border: none;
}

.flex-outer .form-group button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #00B8EC;
  font-size: 16px;
  color: #f2f2f2;
  text-transform: uppercase;
  // letter-spacing: .09em;
  border-radius: 2px;

}

form button:hover {
  color: #FFCB05;
  cursor: pointer;
}

.flex-inner .form-group {
  width: 100px;
}

form input {
  font-size: 14px;
  border: 1px solid #C1BEBE !important;
  background-color: #EFEBEB;
}

#file {
  border: none !important;
  background-color: transparent;
}

.form-group {
  padding-bottom: 5px;
}

.form button {
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}
/* ********************************** */
/* SUBMIT NEW PROJECT - COLOR BUTTONS */
/* ********************************** */


.preferred-color-buttons {
  list-style-type:none;
  margin:25px 0 0 0;
  padding:0;
}

.preferred-color-buttons li {
  float:left;
  margin:0 5px 0 0;
  width:100px;
  height:40px;
  position:relative;
  text-align: center;
  font-weight: bold;
  color: white;
}

#blue-li {
 background-color: blue;
}

#yellow-li {
  background-color: yellow;
 }

 #red-li {
  background-color: red;
 }

 #white-li {
  background-color: white;
  color: gray;
 }

 #black-li {
  background-color: black;
 }

 #purple-li {
  background-color: purple;
 }

 #orange-li {
  background-color: orange;
 }

 #green-li {
  background-color: green;
 }

.preferred-color-buttons label, .preferred-color-buttons input {
 display:block;
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
}

.preferred-color-buttons input[type="radio"] {
 opacity:0.011;
 z-index:100;
}

.preferred-color-buttons input[type="radio"]:checked + label {
 color: gray;
 border: 5px solid #00B8EC;
}

.preferred-color-buttons label {
  padding:5px;
  border:1px solid #CCC; 
  cursor:pointer;
 z-index:90;
}

.preferred-color-buttons label:hover {
  background:#DDD;
}