.project-content-container {
  /* margin-top: 20px !important;
  margin-bottom: 50px !important;
  width: 90%;
  height: 600px;
  margin: auto;
  margin-bottom: auto;
  background-color: #F0F0F0;
  padding-bottom: 2%;
  opacity: .94;
  overflow: scroll;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2); */
  margin-top: 15px !important;
  margin-bottom: 50px !important;
  width: 63%;
  height: 500px;
  margin: auto;
  margin-bottom: auto;
  background-color: #F0F0F0;
  padding-bottom: 2%;
  opacity: .94;
  overflow: scroll;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  position: fixed;
  top: 100px;
  left: 400px;
}

div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  position: fixed;
  width: 62.9%;
  z-index: 2;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 80px;
}

ul.project-header-ul {
  margin-top: 35px;
  position: fixed;
  background-color: gray;
  padding-top: 20px;
  padding-bottom: 5px;
  z-index: 1;
  width: 62.7%;
  padding-left: 5px;
  color: white;
}

button.tablinks {
  font-size: 16px;
}

ul.project-header-ul li {
  list-style: none;
  display: inline;
}

.date {
  padding-right: 130px
}

td {
  font-size: 16px;
}

td.listing-date {
  width: 150px;
  padding-right: 10px;
}

.name {
  padding-right: 165px
}

td.listing-name {
  width: 200px;
  padding-right: 5px;
}

.email {
  padding-right: 220px
}

td.listing-email {
  width: 235px;
  padding-right: 5px;
}

.color {
  padding-right: 20px
}

td.listing-color {
  width: 30px;
  padding-right: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.file {
  padding-right: 80px
}

td.listing-file {
  padding-left: 5px;
  width: 50px;
  padding-right: 5px;
  text-align: center;
}
.comments {
  padding-right: 20px
}

td.listing-comments {
  width: 50px;
  text-align: center;
  padding-right: 15px;
}

/* td.listing-approval {
  background-color: #ddd;
} */

th, td {
  border-bottom: 1px solid #ddd;
}

a#paperclip-link {
  color: black;
  cursor: pointer;
}