/* // **************************
//         CONTENT
// ************************** */
main {
  display: flex;
  justify-content: center;
}
.more-details-container {
  background-color: #DCDCDC;
  height: 480px;
  padding: 10px;
  margin-top: 5%;
  margin-left: 3%;
  width: 30%;
  border-radius: 20px;
  color: #606060;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  justify-content: center;

  text-align: center;
  font-size: 18px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  
}


#content-card1 {
  display: flex;
  flex-flow: column nowrap;
}

#content-card2 {
  display:none;
}

#content-card3 {
  display:none;
}

#content-card4 {
  display:none;
}

#content-card5 {
  display:none;
}

#content-card6 {
  display:none;
}

.app-description-container {
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  float: right;
  width: 60%;
}

.app-description {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.index-card {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  margin: 15px;
  width: 230px;
  height: 230px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.index-card:hover {
  cursor: pointer;
}

.index-card-title {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #00B8EC;
  color: white;
  display: inline;
  max-height: 50px;
  margin-top: 40%;
  letter-spacing: 1px;
  line-height: 4;
  width: 100%;
}

.index-card-description {
  display: none;
  color: white;
  background-color: #00B8EC;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0;
  transition: opacity 1s;
}

.index-card-description:hover {
  opacity: 1;
}

.root-p {
  padding: 3%;
}

#card1 {
  background-image: url("/images/cardbackground004.jpg");
  background-size: 230px;
}

#card2 {
  background-image: url("/images/cardbackground001.jpg");
  background-size: 230px;
}

#card3 {
  background-image: url("/images/cardbackground003.jpg");
  background-size: 230px;
}

#card4 {
  background-image: url("/images/cardbackground005.jpg");
  background-size: 230px;
}

#card5 {
  background-image: url("/images/cardbackground007.png");
  background-size: 230px;
}

#card6 {
  background-image: url("/images/cardbackground006.jpg");
  background-size: 230px;
}

.index-buttons {
  width: 45%;
  margin-left: 5px;
  margin-right: 5px;
}

.index-buttons-container {
  margin-top:auto;
}

.root-p {
  margin-top: auto;
}