.sidebar {
  float: left;
  overflow: hidden;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #DCDCDC;
  height: 480px;
  padding: 10px;
  margin-top: 5%;
  margin-left: 3%;
  width: 20%;
  border-radius: 20px;
  color: #606060;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.sidebar-nav {
  list-style: none;
  padding: initial;
}

.sidebar-links {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  color: #606060;
}

.sidebar-links:hover {
  color: white;
  cursor: pointer;
}